[Desktop Entry]
Type=Service
Icon=kdevelop
Exec=blubb
Comment=This plugin shows issues reported by Krazy2
Comment[de]=Dieses Modul zeigt von Krazy2 ermittelte Fehler
Comment[es]=Este complemento muestra problemas detectados por Krazy2
Comment[et]=See plugin näitab Krazy2 tuvastatud probleeme
Comment[fr]=Ce module externe affiche les problèmes signalés par Krazy2
Comment[hu]=Ez a bővítmény megjeleníti a Krazy2 által jelentett kiadásokat
Comment[nl]=Deze plug-in toont fouten gerapporteerd door Krazy2
Comment[pt]=Este 'plugin' mostra os erros comunicados pelo Krazy2
Comment[pt_BR]=Este plugin mostra os erros comunicados pelo Krazy2
Comment[sk]=Tento plugin zobrazí chyby zadané cez Krazy2
Comment[sv]=Insticksprogrammet visar fel i källkod rapporterade av Krazy2
Comment[uk]=За допомогою цього додатка можна переглянути список недоліків, виявлених Krazy2
Comment[x-test]=xxThis plugin shows issues reported by Krazy2xx
Name=Krazy2 Code Checking
Name[de]=Krazy2-Quelltextüberprüfung
Name[es]=Comprobador de código Krazy2
Name[et]=Krazy2 koodikontroll
Name[fr]=Vérification du code par Krazy2
Name[ga]=Seiceáil Cóid Krazy2
Name[gl]=Comprobación de código con Krazy2
Name[hu]=Krazy2 kódellenőrzés
Name[nl]=Code controleren door Krazy2
Name[pt]=Verificação de Código do Krazy2
Name[pt_BR]=Verificação de código Krazy2
Name[sk]=Kontrola kódu Krazy2
Name[sv]=Kodkontroller med Krazy2
Name[uk]=Перевірка коду Krazy2
Name[x-test]=xxKrazy2 Code Checkingxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkrazy2
X-KDE-PluginInfo-Name=krazy2plugin
X-KDE-PluginInfo-Author=Daniel Calviño Sánchez
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
