<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevkrazy2" version="1">
<MenuBar>
 <Menu name="run">
   <text context="@title:menu">Run</text>
     <Action name="krazy2_selected" group="run_operations"/>
     <Action name="krazy2_all" group="run_operations"/>
 </Menu>
</MenuBar>
</kpartgui>


