[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_krazy2settings
X-KDE-FactoryName=kcm_kdev_krazy2settings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform

Name=Krazy2 settings
Name[bs]=Krazy2 postavke
Name[cs]=Nastavení Krazy2
Name[de]=Krazy2-Einstellungen
Name[es]=Preferencias de Krazy2
Name[et]=Krazy2 seadistused
Name[fr]=Configuration de Krazy2
Name[ga]=Socruithe Krazy2
Name[gl]=Configuración de Krazy2
Name[hu]=Krazy2 beállítások
Name[nl]=Instellingen van Krazy2
Name[pl]=Ustawienia Krazy2
Name[pt]=Configuração do Krazy2
Name[pt_BR]=Configurações do Krazy2
Name[sk]=Nastavenia Krazy2
Name[sv]=Inställningar av Krazy2
Name[tr]=Krazy2 ayarları
Name[uk]=Параметри Krazy2
Name[x-test]=xxKrazy2 settingsxx
Comment=Configure Krazy2 settings
Comment[bs]=Konfiguriši Krazy2 postavke
Comment[de]=Krazy2-Einstellungen festlegen
Comment[es]=Configurar las preferencias de Krazy2
Comment[et]=Krazy2 seadistamine
Comment[fr]=Configurer les paramètres de Krazy2
Comment[ga]=Cumraigh Krazy2
Comment[gl]=Configura os parámetros de Krazy2
Comment[hu]=Krazy2 beállítások módosítása
Comment[nl]=Instellingen van Kray2 configureren
Comment[pl]=Konfiguruj ustawienia Krazy2
Comment[pt]=Configurar as definições do Krazy2
Comment[pt_BR]=Configuração das opções do Krazy2
Comment[sk]=Konfigurovať nastavenia Krazy2
Comment[sv]=Anpassa inställningar av Krazy2
Comment[tr]=Krazy2 ayarlarını yapılandır
Comment[uk]=Налаштувати параметри роботи Krazy2
Comment[x-test]=xxConfigure Krazy2 settingsxx
