[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_krazy2settings
X-KDE-FactoryName=kcm_kdev_krazy2settings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform

Name=Krazy2 settings
Name[pt]=Configuração do Krazy2
Name[pt_BR]=Configurações do Krazy2
Name[sk]=Nastavenia Krazy2
Name[uk]=Параметри Krazy2
Name[x-test]=xxKrazy2 settingsxx
Comment=Configure Krazy2 settings
Comment[pt]=Configurar as definições do Krazy2
Comment[pt_BR]=Configuração das opções do Krazy2
Comment[sk]=Konfigurovať nastavenia Krazy2
Comment[uk]=Налаштувати параметри роботи Krazy2
Comment[x-test]=xxConfigure Krazy2 settingsxx
