[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_krazy2settings
X-KDE-FactoryName=kcm_kdev_krazy2settings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform

Name=Krazy2 settings
Name[cs]=Nastavení Krazy2
Name[es]=Preferencias de Krazy2
Name[et]=Krazy2 seadistused
Name[nl]=Instellingen van Krazy2
Name[pt]=Configuração do Krazy2
Name[pt_BR]=Configurações do Krazy2
Name[sk]=Nastavenia Krazy2
Name[uk]=Параметри Krazy2
Name[x-test]=xxKrazy2 settingsxx
Comment=Configure Krazy2 settings
Comment[es]=Configurar las preferencias de Krazy2
Comment[et]=Krazy2 seadistamine
Comment[nl]=Instellingen van Kray2 configureren
Comment[pt]=Configurar as definições do Krazy2
Comment[pt_BR]=Configuração das opções do Krazy2
Comment[sk]=Konfigurovať nastavenia Krazy2
Comment[uk]=Налаштувати параметри роботи Krazy2
Comment[x-test]=xxConfigure Krazy2 settingsxx
